.jmk-feedreader {
	position : relative;
    font-family:"Myriad Pro",Myriad,Arial,Helvetica,clean,sans-serif;
    margin-bottom: 0;
    padding : 0;
    overflow : hidden;
}

.jmk-feedreader-ocean {
    background: #e3edf7;
    border: 1px solid #cddfec;
}

.jmk-feedreader-kame {
    background: #e8f5e4;
    border: 1px solid #d7f2cf;
}

.jmk-feedreader-item-ocean {
    color: #000;
}

.jmk-feedreader-item-kame {
    color: #000;
}

.jmk-feedreader-item a {
    text-decoration: none;
    font-size: 16px;
}

.jmk-feedreader-item-ocean a {
    color: #0046A2;
}

.jmk-feedreader-item-kame a {
    color: #0046A2;
}

.jmk-feedreader-content {
    margin: 4px;   
}

.jmk-feedreader-content ul {
    margin: 0;
    padding: 0;    
    float: left;
    list-style : none;
}

.jmk-feedreader li {
    padding: 10px 10px;
    margin: 0 0 4px 0;
    overflow:hidden;
}

.jmk-feedreader-ocean li {
    background: #FFF;
    border: 1px solid #b1cbdf;
}

.jmk-feedreader-kame li {
    background: #FFF;
    border: 1px solid #d7f2cf;
}

.jmk-feedreader-nav {
    clear : both;
    font-size: .7em;
    text-decoration: none;
    margin: 4px;
    padding: 0;
	overflow:hidden;
}

.jmk-feedreader-nav-ocean {
    color: #000;
}

.jmk-feedreader-nav-kame {
    color: #000;
}

.jmk-feedreader-nav .previous span {
    font-size: 10px;
    margin-right: 2px;
}

.jmk-feedreader-nav .next span {
    font-size: 10px;
    margin-left: 2px;
}

.jmk-feedreader-nav .previous,
.jmk-feedreader-nav .mid,
.jmk-feedreader-nav .next {
    cursor: pointer;
    float: left;
    display: block;
    visibility: visible !important;
    margin-right: 5px;
    padding: 5px 8px 5px 8px;
    text-align: center;
}

.jmk-feedreader-nav-ocean .previous,
.jmk-feedreader-nav-ocean .mid,
.jmk-feedreader-nav-ocean .next {
    background: #FFF;
    border: 1px solid #B1CBDF;
    color: #04469D;
    /*	color: #9C9C9D;  <-- unselectable color */
}

.jmk-feedreader-nav-kame .previous,
.jmk-feedreader-nav-kame .mid,
.jmk-feedreader-nav-kame .next {
    background: #FFF;
    border: 1px solid #b8e9aa;
    color: #04469D;
    /*	color: #9C9C9D;  <-- unselectable color */
}
  
.jmk-feedreader-nav-ocean .mid-selected {
   color : #FFF !important;
   background : #9C9C9D !important;
   border : 1px solid #04469D !important;
}

.jmk-feedreader-nav-kame .mid-selected {
   color : #FFF !important;
   background : #9C9C9D !important;
   border : 1px solid #04469D !important;
}

.jmk-feedreader-nav-ocean .mid {
	background: #FFF;
/*	color: #FFF;  <-- non current page text */	
/*	color: #1279c6;  <-- current page background color */		
}

.jmk-feedreader-nav-kame .mid {
	background: #FFF;
/*	color: #FFF;  <-- non current page text */	
/*	color: #00BB00;  <-- current page background color */		
}

.jmk-feedreader-nav .mid a {
    padding-left : 4px;
    padding-right : 4px;
    padding-top: 2px;
    margin-right : 4px;
    margin-left : 4px;
}
.jmk-feedreader-nav-ocean .mid a {
    color : #04469D;
    background: #e3edf7;
    border: 1px solid #B1CBDF;
}

.jmk-feedreader-nav-kame .mid a {
    color : #04469D;
    background: #e8f5e4;
    border: 1px solid #d7f2cf;
}

.jmk-feedreader-nav .mid div {
    padding-left : 4px;
    padding-right : 4px;
    padding-top: 2px;
    margin-right : 4px;
    margin-left : 4px;
}

.jmk-feedreader-nav-ocean .mid div {
    color : #04469D;
    background: #e3edf7;
}

.jmk-feedreader-nav-kame .mid div {
    color : #04469D;
    background: #e3edf7;
}
